node_modules
coverage
.DS_Store
.idea
.env
.yalc
yalc.lock

/__mocks__
/__tests__
/fixtures
/test_sites
/testing
/.npmignore
/.nvmrc
/.prettierrc
/.releaserc.json
/.travis.yml
/generateFixtures.js
/jest.config.js
/testUtils.js